

body{
  background-image: linear-gradient(90deg, #ff00cc, #3333ff, #00bd97,#3333ff,#ff00cc);

}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  border: 20px solid black;
  border-collapse: collapse; /* Ensures no space between table borders */
}

td {
  height: 50px;
  width: 50px;
  border: 4px solid black;
  padding: 0;
  text-align: center;
  background-color: rgb(0, 106, 255);
  border-collapse: collapse;
}

.cell{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #00ffee;
  border: 3px solid rgb(0, 0, 0);
  display: block;
  font-size: 150%;
  cursor: pointer;
}

tr:nth-child(4) td,
tr:nth-child(7) td {
  border-top: 6px solid #26ff00;
}
td:nth-child(4),
td:nth-child(7) {
  border-left: 6px solid #26ff00;
}

.input_buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
  gap: 40px;


}

.input_buttons > .functional_inp{
  background: rgb(0, 255, 0);
  border-radius: 20%;
  border: 5px solid rgb(255, 170, 0);
}


.input_buttons button{
  position: relative;
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 25%;
  border: 5px solid;
  border-color: crimson;
  background: radial-gradient(circle, violet, violet, violet);
  background-position: center;
  background-size: 100% 100%;

}

.input_buttons button:hover{
  transform: scale(1.25);
}
.GameGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
}
.GameGrid  .Save{
  position: absolute;
  z-index: 0;
  top: 75%;
  left: 50%;
  outline: none;
  border: none;
  grid-row: 1/2;
  grid-column: 2/3;
  background: #FFF;
  cursor: pointer;
  padding: 32px 64px;
  font-size: 30px;
  border-radius: 25%;
  background-position: center;
  background-size: 100% 100%;
  color: white;
}

.Save::after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0%;
  top:0%;
  border-radius: 25%;
}

.Save::before{
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000, #ff7300, #fffb00, #48ff00,
    #00ffd5, #002bff, #ff00c8, #ff0000
  );
  position: absolute;
  top: -8px;
  left: -8px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 25%;
  opacity: 1;
}



.Save:active::after{
  background: transparent;
}
.Save:active{
  color: #000;
  font-weight: bold;
}

@keyframes glowing{
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

.GameGrid table{
  position: relative;
  grid-row: 1/2;
  grid-column: 1/4;
  z-index: 1;
}



.GameGrid .Mistakes{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  position: absolute;
  grid-row: 1/2;
  grid-column: 2/3;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  background: black;
  border: 5px solid;
  border-radius: 20%;
  border-color: red;
  color: white;
  text-align: center;
  
}
.GameGrid .Mistakes span{
  grid-row: 2/3;
}

.GameGrid .Timer{
  position: absolute;
  grid-row: 1/2;
  grid-column: 1/2;
  top: 50%;
  left: 25%;

}

.confetti{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #FFD700;
  opacity: 0.8;
  animation: fall 3s linear infinite;
}

@keyframes fall{
  0% {transform: translateY(0) rotate(0); opacity: 1;}
  100% {transform: translateY(500px) rotate(360deg); opacity: 0;}
}

@keyframes shine{
  0% {
    background-size: 100% 100%;
  }
  25%{
    background-size: 200% 100%;
  }
  50% {
    background-size: 300% 100%;
  }
  75%{
    background-size: 400% 100%;
    opacity: 0.75;

  }
  100% {
    background-size: 500% 100%;
    opacity: 0.75;
  }
}



.num{
  position: absolute;
  font-size: 75%;
  bottom: 25px;
  left: 30px;
}

