body{
  background-image: linear-gradient(90deg, #ff00cc, #3333ff, #00bd97,#3333ff,#ff00cc);

}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  border: 20px solid black;
  border-collapse: collapse; /* Ensures no space between table borders */
}

td {
  height: 50px;
  width: 50px;
  border: 4px solid black;
  padding: 0;
  text-align: center;
  background-color: rgb(0, 106, 255);
  border-collapse: collapse;
}

.cell{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #00ffee;
  border: 3px solid rgb(0, 0, 0);
  display: block;
  font-size: 150%;
  cursor: pointer;
}

tr:nth-child(4) td,
tr:nth-child(7) td {
  border-top: 6px solid #26ff00;
}
td:nth-child(4),
td:nth-child(7) {
  border-left: 6px solid #26ff00;
}

.input_buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
  gap: 40px;
}
.input_buttons button{
  position: relative;
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 25%;
  border: 5px solid;
  border-color: crimson;
  background: radial-gradient(circle, violet, violet, violet);
  background-position: center;
  background-size: 100% 100%;


}

.confetti{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #FFD700;
  opacity: 0.8;
  animation: fall 3s linear infinite;
}

@keyframes fall{
  0% {transform: translateY(0) rotate(0); opacity: 1;}
  100% {transform: translateY(500px) rotate(360deg); opacity: 0;}
}

@keyframes shine{
  0% {
    background-size: 500% 100%;
  }
  25%{
    background-size: 400% 100%;
  }
  50% {
    background-size: 300% 100%;
  }
  75%{
    background-size: 200% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.num{
  position: absolute;
  font-size: 75%;
  bottom: 25px;
  left: 30px;
}